.header-container {
  display: block; }

.header-container section {
  display: flex;
  flex-direction: row; }

.body-grid {
  list-style: none; }

.top-nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: [col1-start] 3fr [col1-end col2-start] 2fr [col2-end col3-start] 1fr;
  grid-template-rows: 30%;
  column-gap: 10px;
  row-gap: 15px; }

.top-nav {
  max-height: 80px; }

.help-center {
  font-size: xx-small;
  grid-column-start: col1-start;
  text-align: center; }

.top-right-header li {
  grid-column-start: col3-start;
  grid-row-start: 1; }

.cart-logo {
  width: 50px;
  height: 70px; }

.middle-nav ul {
  display: inline-flex; }

.middle-nav ul {
  list-style-type: none;
  display: flex; }

.middle-nav ul li a {
  padding-left: 40rem;
  font-size: xx-small; }

.bottom-nav ul li {
  display: inline-flex;
  flex-direction: row;
  list-style: none; }

.main-body-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 70%;
  grid-gap: 1rem; }

.view-nav-wrapper {
  display: grid;
  grid-template-columns: 4fr;
  grid-gap: 10px;
  grid-column-gap: 1em;
  grid-template-rows: repeat(4, 50px); }

.view-btns li {
  display: inline-flex;
  list-style: none; }

.view-btns li button {
  grid-column: 1 / 1;
  grid-row: third-line / 4; }

.bottom-nav form {
  padding-left: 22rem; }

.selected-tabs ul li {
  display: inline-flex;
  list-style-type: none;
  grid-column: 1 / 1;
  grid-row: 1 / 1; }

.selected-tab-title {
  display: inline-block;
  grid-column: [col1]/[col1];
  grid-row: 2 / 2;
  padding-left: 2.5rem; }

.list-of-viewing-options {
  grid-column: [col1]/[col1];
  grid-row: 4 / 4;
  display: inline-block; }

.filter-box {
  position: absolute;
  top: 48%;
  list-style: none; }

.sort-and-show-menu {
  display: block; }

.list-of-viewing-options li {
  display: inline-flex;
  list-style: none; }

.pages-btns {
  display: inline-flex;
  float: right;
  list-style: none; }

.products-results-container ul {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 70%; }

.customer-sec li {
  font-style: italic;
  font-size: medium;
  padding-bottom: 10px; }

.product-items-list li {
  display: block;
  text-align: center;
  max-height: 350px; }

.product-items-list .saving-offer {
  color: red; }

.product-container {
  grid-column: 1;
  gird-row: 1;
  list-style: none; }

.product-image {
  height: 190px;
  width: 195px; }

.offer-badge {
  max-height: 50px;
  max-width: 60px; }

.product-weight {
  font-style: italic; }

.menu-btn {
  background-color: lightcoral;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none; }

.menu-tabs li {
  float: left; }

.bottom-nav .search-box {
  justify-content: flex-end; }

.menu-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  background-color: lightcoral;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
  width: 4rem;
  height: 0.2rem; }

.tab-btn {
  background-color: #d1d1d1;
  color: black;
  padding: 16px;
  font-size: 12px;
  border: none;
  width: 9rem;
  height: 1rem;
  text-decoration: none; }

.drop-down-btn {
  background-color: lightcoral;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
  width: 6rem;
  height: 1rem; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eebd9c;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 16px; }

.dropdown:hover .dropdown-content {
  display: inline-block; }

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: orange; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .drop-down-btn {
  background-color: orangered; }

.dropdown-content a:hover {
  background-color: orange; }
